# =============== #
# Unity generated #
# =============== #
DeathOfHenUnityProject/[Tt]emp/
DeathOfHenUnityProject/[Oo]bj/
DeathOfHenUnityProject/[Bb]uild
DeathOfHenUnityProject/[Ll]ibrary/
DeathOfHenUnityProject/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
DeathOfHenUnityProject/[Ee]xported[Oo]bj/
DeathOfHenUnityProject/*.userprefs
DeathOfHenUnityProject/*.csproj
DeathOfHenUnityProject/*.pidb
DeathOfHenUnityProject/*.suo
DeathOfHenUnityProject/*.sln*
DeathOfHenUnityProject/*.user
DeathOfHenUnityProject/*.unityproj
DeathOfHenUnityProject/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
